QPushButton {
    border: none;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background: green;
    outline: none;
}

QPushButton:!enabled {
    border: 1px solid lightgray;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background: white;
    outline: none;
}