
QTabBar::tab {
    min-height: 42px;
    min-width: 160px;
    font-size: 24px;
    border: None;
}

QTabBar::tab:hover {
    border-bottom: 5px solid #C2C7CB;
}

QTabBar::tab:selected {
    background: lightblue;
    border-top: None;
    border-bottom: 5px solid red;
}