[Desktop Entry]
Type=Application
Name=Cloudown
Name[zh_CN]=云下
Comment=Cloudown
Icon=/opt/cloudown/icons/app.ico
Exec=/opt/cloudown/Cloudown.sh
Terminal=false
Categories=Network
